html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweawther/Merriweather-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-BoldItalic.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Italic.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("/fonts/MerriweatherSans/MerriweatherSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}